  *{
            margin: 0;
            padding: 0;
        }
        nav{
            height: 7.5vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0F3CC9;
            position: sticky;
            bottom: 2px;
        }
        nav>div>a{
            position: relative;
            bottom: 5px;
            padding: 20px;
            color: white;
            text-decoration: none;
            font-size: medium;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 600;
            margin-left: 5px;
            margin-right: 5px;

        }
        nav>div>input{
            position: relative;
            bottom: 5px;
            padding: 10px;
            background-color: #0A2885;
            border-radius: 30px;
            margin-left: 50px;
            width: 250px;
            margin-right: 40px;

        }
        nav>div>img{
            height: 40px;
            position: relative;
            top: 10px;
            right: 50px;
            cursor: pointer;
        }
        nav>div>i{
            height: 14px;
            
        }
        #fff2{
            position: relative;
            width: 100%;
        }
        #fff3{
            position: absolute;
            left: 400px;
            color: white;
            top: 200px;
            font-size: 60px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 800;
            
        }
        #fff4{
            position: absolute;
            left: 410px;
            color: rgb(214, 212, 212);
            top: 400px;
            font-size: 500;
        }
        #fff5{
            position: absolute;
            left: 410px;
            color: rgb(255, 255, 255);
            top: 450px;
            font-size: large;
            background-color: #0F3CC9;
            padding: 10px;
            border-radius: 40px;
            cursor: pointer;
        }
        #fff6{
            position: absolute;
            left: 590px;
            color: rgb(255, 255, 255);
            top: 450px;
            font-size: large;
            background-color:transparent;
            border-color: rgb(201, 201, 201) .5px;
            padding: 10px;
            border-radius: 40px;
            cursor: pointer;

        }
        #fff6:hover{
            border-color: white 1.5 px;
        }
        #gg{
            display: flex;
            align-items: center;
            justify-content: center;
            
            
        }
        #gg1{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            margin: 20px;
        }
        #gg1>p{
            margin-top: 10px;
            padding: 20px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        #gg1:hover{
            cursor: pointer;
            transform: scale(1.03);
        }
        #eee2>img{
            padding-left: 160px;
            padding-top: 100px;
        }

#f1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
#f{
    background-color: #D9008D;
}
#f12{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 62px;
}
#f11{
    margin: 20px;
}
#ff1{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 100px;

}
#ff13{
    display: flex;
    flex-direction: column;
    /* margin-left: 80px; */
    
}
#ff12{
    font-size: 32px;
    font-family: sans-serif;
    color: white;
    font-weight: 900;
    margin-right: 50px;
}
#ff12>button{
    background-color: #ffffff;
    color:#7F1C5C;
    border-radius: 30px;
    padding: 20px;
    border: none;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    width: 300px;
}
#ff14{
    font-family: sans-serif;
    margin-left: 50px;
    color: white;
    font-weight: 900;
}

#ff15{
    display: flex;
    
}
#ff16{
    font-size: 32px;
    font-weight: 900;
}
#ff17{
    margin-left:15px ;
}
#ff19>h2{
    margin-top: 5px;
    color: #650c46;
}
#ff20{
    margin-top: 10px;
}
#ff2{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#ff3{
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    
}
#ff4>button{
    background-color: #FF99DB;
    color:#7F1C5C;
    border-radius: 30px;
    padding: 20px;
    border: none;
    margin: 30px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
#ff4>button:hover{
    transform: scale(1.03);
}
#h{
    margin-left:70px ;
    margin-right: 70px;
}

#hh1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hh12{
    margin-top: 30px;
    font-size: 55px;
    font-family:sans-serif;
    font-weight: 900;
    text-transform: none;
}
#hh13{
    font-size: 18px;
    font-family:sans-serif;
    font-weight: 500;
    color: grey;
    margin-top: 15px;
}
#hh2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 50px;
}
#hh21{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#hh22{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#hh23{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#hh21>img{
    height: 172px;
    width: 172px;
}
#hh22>img{
    height: 172px;
    width: 172px;
}
#hh23>img{
    height: 172px;
    width: 172px;
}
#hh21>h1{
    font-size: 30px;
    font-family: sans-serif;
}
#hh22>h1{
    font-size: 30px;
    font-family: sans-serif;
}
#hh23>h1{
    font-size: 30px;
    font-family: sans-serif;
}
#hh21>center>p{
    margin-top: 20px;
    color: #595959;
    font-weight: 500;
}
#hh22>center>p{
    margin-top: 20px;
    color: #595959;
    font-weight: 500;
}
#hh23>center>p{
    margin-top: 20px;
    color: #595959;
    font-weight: 500;
}
#hh21>button{
    margin-top: 30px;
    padding: 18px;
    border-radius: 30px;
    color: white;
    background-color: #0F3CC9;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
#hh21>button:hover{
    transform: scale(1.005);
    background-color: #0A2885;
}
#hh22>button{
    margin-top: 30px;
    padding: 18px;
    border-radius: 30px;
    color: white;
    background-color: #0F3CC9;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
#hh22>button:hover{
    transform: scale(1.005);
    background-color: #0A2885;
}
#hh23>button{
    margin-top: 30px;
    padding: 18px;
    border-radius: 30px;
    color: white;
    background-color: #0F3CC9;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
#hh23>button:hover{
    transform: scale(1.005);
    background-color: #0A2885;
}
#hh3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#hh3>h1{
    margin: 10px;
    font-weight: 900;
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#hh3>p{
    margin: 10px;
    font-size: large;
    font-weight: 600;
    color: #848484;
    margin-bottom: 20px;
}
#jioCinema{
    display: flex;
    background-color:#D9008D;
    padding-bottom: 0;
    margin: 0%;
}
#infoJioCinema{
   border-radius: 30px;
}

#jioCinemaImage{
    border-radius: 30px;
    display: flex;
    margin-top: 200px;
    margin-left: 150px;
    background-color: #951e6b;
    top:250px;
    left: 100px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans-serif;
    font-weight: 700;
    padding: 5px;
    width: 20%;

}
#jioCinemaImage>img{
    height: 24px;
    width: 24px;
    margin-right: 10px;

}
#infoJioCinema>h1{
    margin-top:20px ;
    margin-left: 150px;
    margin-right: 130px;
    color: white;
    font-size: 32px;
    font-weight: 900;
    font-family: sans-serif;
    
}

#infoJioCinema>button{
    margin-top: 30px;
    padding: 15px;
    border-radius: 30px;
    color: rgb(83, 79, 79);
    font-size: 15px;
    background-color:#FF99DB;
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin-left:150px ;
}
#VideoJioCinema>video{
    margin-right: 0;
    /* margin-left: 200px; */
    height: 680px;
    width: fit-content;
    display: flex;
    
}


#QR1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: #E8E8FC;
}
#Qr2{
    display: flex;
    margin-top: 30px;
}
#qr3{
    margin-top: 20px;

}
#qr3>center>h1{
    font-size: 54px;
    font-weight: 900;
    font-family: sans-serif;
}
#qr4>center>h2{
    color: #8b8b8b;
    font-family: sans-serif;
    margin-top: 5px;
    font-size: 18px;
    
}
#qr5{
    margin-top: 20px;
}
/* #needGuidance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0F3CC9;
}
#needGuidance>h1{
    color: white;
    margin-top: 30px;
    font-size: 60px;
    font-weight: 900;
    font-family: sans-serif;
}
#needGuidance>p{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
    padding: 10px;
}


#footer{
    display: flex;
    justify-content: center;
}
#foo1{
    display:flex ;
    flex-direction: column;

    margin: 30px 30px;
}
#foo1>h4{
    margin-bottom: 30px;
    font-weight: 700;
}
#foo1>button{
    background-color: transparent;
    border: none;
    font-size: medium;
    color:#727272;
    padding: 8px;
    padding-left: 0px;
    font-family: sans-serif;
    font-weight: 550;
    text-align: left;
}
#foo1>button:hover{
    cursor: pointer;
    background-color: #b6b6b6;
    border-radius: 2px;

}
#foo2{
    margin-left: 50px;
}
#foo2>h3{
    font-size: 20px;
    margin-top: 30px;
    font-family: sans-serif;
    font-weight: 900;
}

#social>button>i{
    margin-right: 5px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
} */
footer {
    margin-top: 80px;
}

#footer1{
    background-color: #0f3cc9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer1 h1 {
    font-size: 60px;
    color: white;
    font-weight: 900;
    letter-spacing: -2px;
}

#footer1 p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.78);
    font-weight: 600;
}

#footer1 #footer1_btns {
    margin-top: 10px;
}

#footer1 button {
    border: 1px solid rgba(255, 255, 255, 0.31);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.78);
    padding: 15px;
    border-radius: 50px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 700;
}

#footer1 button:hover {
    border: 1px solid white;
    cursor: pointer;
}

#footer1 button i {
    margin-right: 10px;
}

.footer2_list>button{
    
    background-color: transparent;
    border: none;
    font-size: medium;
    color:#727272;
    padding: 8px;
    padding-left: 0px;
    font-family: sans-serif;
    font-weight: 550;
    text-align: left;

}
.footer2_list>button:hover{
    cursor: pointer;
    background-color: #8b8b8b;
}
#footer2 {
    display: flex;
    justify-content: center;
    padding: 0 165px;
    gap: 20px;
    border-bottom: 1px solid;
}

#footer2 .footer2_list ul li {
    list-style: none;
    margin: 20px 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-weight: 600;
}

.footer2_list {
    padding-top: 50px;
    width: 182px;
}

.footer2_list h4 {
    font-weight: 900;
    padding-bottom: 20px;
}

#footer2_btns{
    width: 390px;
}

#footer2_btns h2 {
    font-weight: 900;
    padding-bottom: 20px;
}

#footer2_btns_social {
    display: flex;
    gap: 20px;
}

#footer2_btns_social div {
    background-color: #0f3cc9; 
    border-radius: 50%; 
    height: 32px; 
    width: 32px;
    transition: transform 450ms;
}
#footer2_btns_social div:hover {
    background-color: #0A2885;
    cursor: pointer;
    transform: scale(1.1);
}

#footer2_btns a {
    text-decoration: none;
    margin-right: 5px;
}

#footer2_btns a img {
    transition: transform 450ms;
}

#footer2_btns a img:hover {
    transform: scale(1.05);
}

#footer3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 10px 0;
    margin-left: 165px;
    margin-right: 165px;
}

#footer3_copyright{
    width: 738px;
}

#footer3_copyright p {
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
}

#footer3_policies span{
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    padding: 0 5px;
}

#footer3_policies span:hover {
    color: #0f3cc9;
    cursor: pointer;
}
#footer3_logo{
    height: 24px;
    width: 34px;
    margin-left: 200px;
    margin-bottom: 10px;
}